body {
  background-color: rgb(53, 51, 51);
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 300px;
  margin: 0 auto;
  line-height: 2;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  font-size: 1.4rem;
  color: white;
}

input,
select,
textarea {
  width: 100%;
  margin: 5px 0 0;
  display: block;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  transition: all 0.3s;
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  background-color: white;
}
