body {
    background-image: linear-gradient(to right, #2980b9, #6dd5fa);
    height: 100%;
    padding: 0;
    margin: 0;
}

.App {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.loginForm {
    width: 460px;
    margin: 0 auto;
    margin-top: 200px;
    padding: 32px;
    font-weight: bold;
    background-color: lightgray;
    box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.1);
}

button {
    max-width: 150px;
    margin: 32px 0;
    padding: 12px 20px;
    border-style: none;
    background-color: orchid;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
}

input,
textarea {
    margin-top: 32px;
    padding: 0.5rem;
    font-size: 16px;
    width: 100%;
    display: block;
    color: #4d2d52;
    border: 2px solid rgba(77, 45, 82, 0.8);
}
