.App {
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1496147195884-6ab7f7c0a027?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-size: auto;
  padding: 0.1rem;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  margin: 2rem;
  border-radius: 2rem;
  height: 3rem;
  background: rgb(136, 202, 204);
  cursor: pointer;
  transition: 0.3s;
  color: rgb(247, 255, 254);
  font-weight: bold;
  letter-spacing: 0.5rem;
}

.btn:hover {
  background: rgb(247, 255, 254);
  color: rgb(136, 202, 204);
  transition: 0.3s;
}

.formy-mainDiv {
  width: 90%;
  margin: 3rem;
  padding: 3rem;
  font-weight: bold;
  background-color: rgba(138, 237, 255, 0.9);
  box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.1);
  color: rgb(95, 114, 133);
  display: flex;
  flex-direction: column;
  justify-items: center;
  font-size: 1.2rem;
}

.formy-subForm {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.formy-subForm .formy-input {
  background: white;
  border: 5px solid white;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 32px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  margin-left: -2rem;
  margin-top: -1.5rem;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #5eb7b3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.card {
  margin: 3%;
  text-align: center;
  color: rgb(76, 122, 136);
  border: 0.8rem solid rgba(138, 237, 255, 0.9);
  border-radius: 5rem;
  box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
  font-weight: bold;
}

.gridCardyCards {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  grid-auto-rows: auto;

  grid-gap: 1rem;
}

/* 
Formik Form
w/ React Strap cards for mapped over Users
Errors on Username and Password if blank
Displaying grid on the cards, flex column on the Form

https://api.adorable.io/avatars/ api for imgs on cards
https://api.adorable.io/avatars/${}*/

.card-img {
  width: 15rem;
  border-radius: 5rem;
  margin: 1.5rem;
}
