.App {
  text-align: center;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form {
  display: flex;
  flex-direction: column;
align-items: center;
justify-content: space-between;
  background-color: #7B920A;
  width: 60%;
  margin: 1em;
  margin-left: 20%;
  border-radius: 0.8em;
}

.input {
  width: 60%;
  margin: 1em;
  padding: 1em;
  border-radius: 0.8em;

}

.button{
  width: 30%;
  margin: 1em;
  padding: 1em;
  color: #7B920A;
  background-color: white;
  border: none;
  border-radius: 0.8em;
}

.title{
  color: #7B920A;
  margin: 1em;
  font-size: 1em;
}