body {
  background-image:url(https://images.unsplash.com/photo-1563118040-d17971825dce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.App{
  margin-top: 10%;
  display: flex;

}

.formStyle {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
