body {
  background-image: url("./asset/background-image.jpg");
  margin: 0 auto;
  height: 200vh;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* content: "";
position: absolute;
top: 0;
left: 0;
display: block;
opacity: 0.5; */