.App {
  margin-top: 10%;
  color: rgb(233, 227, 227);
}

.main {
  margin-top: 5%;
    display: flex;
    flex-direction: column;
}

button {
  margin: 15%;
  width: 95%;
  height: 8%;
  border-radius: 10px;
}

.user-field {
  display:flex;
  flex-basis: column;
  margin: 15%;
  height: 8%;
  width: 95%;
  padding: 2%;
  border-radius: 5px;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 32px;
  margin-left: 35px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: #eee;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}


.checkbox-container input:checked ~ .checkmark {
  background-color: #739b99;
}


.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}


.checkbox-container .checkmark:after {
  left: 5px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.box{
  width: 100%;
  margin: 2%;
  background:#739b99;
  box-sizing: border-box;
  border-radius: 5px;
  color: black;
  font-weight: bolder;
}

.box-container {
  width: 30%;
    height: 100px;
    margin: 5%;
    padding: 2%;
    display: flex;
    opacity: 0.6;

  filter: alpha(opacity=60)
}

h1{
  margin-left:45%;
} 


