body{
    background-color: #C6DEC6;
}
form{
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    justify-content: space-evenly;
    padding:2%;
    border: 1px lightblue;
}
label{
    width: 100%;
    display: flex;
    padding: 1%;
    justify-content: space-between;
}
.tos{
    justify-content: space-evenly;
}
.errors{
    color: red;
}
.button-Box{
    width: 50%;
    padding: 5%;
}
button{
    width: 50%;
    padding: 5%;
    color: #020402;
    border: none;
    background-color: #A9C5A0;
    border-radius: 15px;
    box-shadow: 1px 2px 3px #758173b6;
}
button:disabled{
    color: grey;
    background-color: #788872b2;
}
button:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1)
}
.formContainer{
    box-shadow: 0px 2px 2px #7581733d;
}
.Logo{
    max-width: 10%;
}
.title-container{
    display: flex;
    flex-direction: row-reverse;
  }
  h1{
      font-size: 2.3rem;
      display: flex;
      width: 90%;
      align-content: center;
      align-items: center;
      flex-direction: row-reverse;
      justify-content: space-between;
      margin: 0 auto;
      padding-top: 2%;
  }