
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card{
  display: flex;
  flex-direction: column;
  margin: 5% 42% 5% 42%;
  background-color: beige;
}


.formClass{
  display: flex;
  flex-direction: column;
  margin: 5% 40% 5% 40%;
  background-color: cadetblue;
}
