.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*.personInfo {*/

/*    border: 1px solid rgb(210, 210, 210);*/
/*    background-color: rgb(255, 255, 255,0.3);*/
/*    box-shadow: 0px 1px 6px -2px rgb(128, 127, 127);*/
/*    border-radius: 8px;*/
/*    !* margin: 16px; *!*/
/*    padding: 16px 8px 12px 8px;*/

/*}*/
/*.personInfo h2 {*/
/*    font-family: "Roboto Mono Light for Powerline";*/
/*    border: 1px solid rgb(210, 210, 210);*/
/*    background-color: rgb(255, 255, 255,0.3);*/
/*    box-shadow: 0px 1px 6px -2px rgb(128, 127, 127);*/
/*    border-radius: 8px;*/
/*    !* margin: 16px; *!*/
/*    padding: 16px 8px 12px 8px;*/

/*}*/