body {
  background-color: #1abc9c;
  font: 1em Helvetica;
}

.container {
  width: 840px;
  margin: 25px auto;
}

.whysign {
  float: left;
  background-color: white;
  width: 500px;
  height: 500px;
  border-radius: 0 5px 5px 0;
  padding-top: 20px;
  padding-right: 20px;
  background-color: white;
  text-align: left;
}

.signup {
  float: left;
  width: 300px;
  height: 500px;
  padding: 30px 20px;
  background-color: white;
  text-align: center;
  border-radius: 5px 0 0 5px;
}

[type='text'] {
  display: block;
  margin: 0 auto;
  width: 80%;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 45px;
  line-height: 45px;
  margin-bottom: 10px;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.4);
}
[type='email'] {
  display: block;
  margin: 0 auto;
  width: 80%;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 45px;
  line-height: 45px;
  margin-bottom: 10px;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.4);
}
[type='password'] {
  display: block;
  margin: 0 auto;
  width: 80%;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 45px;
  line-height: 45px;
  margin-bottom: 10px;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.4);
}

[type='submit'] {
  margin-top: 25px;
  width: 80%;
  border: 0;
  background-color: #53cace;
  border-radius: 5px;
  height: 50px;
  color: white;
  font-weight: 400;
  font-size: 1em;
}
[type='checkbox'] {
  margin-top: 5px;
  width: 80%;
  border: 0;
  background-color: #53cace;
  border-radius: 5px;
  height: 50px;
  color: white;
  font-weight: 400;
  font-size: 1em;
}

[type='text']:focus {
  outline: none;
  border-color: #53cace;
}

h1 {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 900;
  font-size: 2.5em;
}

p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.2em;
  margin: 50px 0 50px 0;
}

span {
  font-size: 0.75em;
  background-color: white;
  padding: 2px 5px;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  margin: 5px;
}

span:hover {
  color: #53cace;
}

p:nth-of-type(2) {
  font-size: 1em;
}

.errors {
  font-size: 10px;
  color: red;
  padding: 0 0 0 0;
}
