
.App {
  margin: 10px auto;
  max-width: 400px;
  padding: 20px 12px 10px 20px;
  font: 15px;
  border: 6px solid #305a72;
}

button {
  border: none;
  padding: 18px 15px 8px 15px;
  background: lightgray;
  color: black;
  border-radius: 3px;
  font-size: 15px;  
}

h1 {
  background: #724830;
  color: #ffffff;
  padding: 20px 30px 15px 30px;
  font: normal 30px 'Bitter', serif;
}
