button{
    width: 75px;
    height: 40px;
}
.flexBox{
    margin: 0 auto;
    width: 50%;
    margin-top: 5%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.marginField{
    margin-top: 2%;
}