button{
    width: 75px;
    height: 40px;
}
.flexBox{
    margin: 0 auto;
    width: 50%;
    margin-top: 5%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.error{
    background-color: red;
    color: white;
    border-radius:5px;
    margin-top: 3%;
}