.App {
  text-align: center;
  height: 100vh;
  background-color: #282c34;
  color: white;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.form-inputs {
  display: flex;
  flex-direction: column;
}
.errors {
  color: red;
}
