@font-face {
  font-family: 'Titillium Web';
  src: url('../fonts/TitilliumWeb-SemiBold.ttf');
}

body {
  font-family: 'Titillium Web', sans-serif;
  border: 1rem solid #ff4b00;
}

#root,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3,
h4 {
  color: #93005a;
  margin-bottom: 1rem;
  text-align: center;
}

#root {
  width: 100%;
  overflow-y: auto;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

header,
footer {
  padding: 1rem;
}

form {
  width: 280px;
}

.inputGroup {
  margin-bottom: 0.75rem;
  border: 1px solid rgb(244, 244, 244);
  padding: 1rem;
}

input[type=submit] {
  border: 1px solid lightcoral;
  border-radius: 3px;
  background-color: white;
  color: #ff4b00;
}

input[type=submit]:hover {
  border-width: 2px;
}

input,
select {
  border: 1px solid lightcoral;
  height: 2rem;
  width: 100%;
}

input[type=radio],
input[type=checkbox] {
  width: initial;
  margin-right: 1rem;
}

input[type=submit]:disabled {
  cursor: not-allowed;
  color: lightgray;
  border-width: 1px;
}

fieldset {
  border: 1px solid lightcoral;
}

label {
  display: flex;
  align-items: center;
}

.success {
  color: white;
  background-color: rgb(0, 163, 73);
  font-style: italic;
  padding: 0.15rem;
}

.error,
.validation {
  font-style: italic;
  color: white;
  background-color: rgb(204, 0, 0);
  padding: 0.15rem;
  text-align: center;
}

.validation {
  font-size: 0.85em;
}
